<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/Pretty-Footer.css">
</head>

<body>
    
    <div id="a1">
        <div class="carousel slide imgm" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/img/42.jpg" alt="Slide Image" id="a2"></div>
                <div class="item i1">
                    <img src="~/img/42.jpg" alt="Slide Image" id="a3">
                </div>

                <div class="item i1">
                    <img src="~/img/42.jpg" alt="Slide Image" id="a4">
                </div>

            </div>
            <div>
                <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span></a><a class="right carousel-control" href="#carousel-1" role="button"
                                                                                                                                                                                                data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2"></li>
            </ol>
        </div>
  
        <div class="ex">
            <img src="~/img/62878545-yoga-wallpapers.jpg" style="height: 500px; width: 100%">
            <div class="cont">
                <h1>YOGA </h1>
                <p class="lead">Yoga is a group of physical<br>,mental and spiritual practices<br> or disciplines which originated<br> in ancient India.<br> * For Children <br>* For Young <br>* For Old </p>
                
                    <button class="btn" and style="background-color:transparent; border: 1px solid black;" type="button">Load more</button>
              
            </div>
        </div>
        <div class="ex">
            <img src="~/img/p.jpg" style="height: 400px; width: 100%">
            <div class="cont">
                <h1>MEDITATION </h1>
                <p class="lead">Meditation is that which gives<br /> you deep rest.Meditation is <br /> an activityin which the<br />  practitioner just sits and allows <br />the mind to dissolve. </p>
                
                    <button class="btn" and style="background-color:transparent; border: 1px solid black;" type="button">Load more</button>
                
            </div>
        </div>

        <div class="ex">
            <img src="~/img/diet-wallpapers.jpg" style="height: 400px; width: 100%">
            <div class="cont">
                <h1>DIET </h1>
                <p class="lead">Diet is the sum of <br>food consumed by a person<br> or other organism. The <br>word diet often implies the<br> use of specific intake <br>of nutrition for health. </p>
                
                    <button class="btn" and style="background-color:transparent; border: 1px solid black;" type="button">Load more</button>
            
            </div>
        </div>

        </div>
        <script src="~/js/jquery.min.js"></script>
        <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
