<!DOCTYPE html>
<html>



<body>
    
    <h1 class="head">Meditation </h1>
    <br>
    <div class="container">

        <iframe width="650" height="365" src="https://www.youtube.com/embed/inpok4MKVLM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="
    margin-left: 260px;
"></iframe>
        <br><br><br>
        <p class="lead">
            There’s been a lot of discussion about what kinds of mental activities are actually capable of changing the brain. Some promises of bolstered IQ and enhanced brain function via specially-designed "brain games" have fizzled out. Meanwhile, meditation
            and mindfulness training have accumulated some impressive evidence, suggesting that the practices can change not only the structure and function of the brain, but also our behavior and moment-to-moment experience.<br><br>&nbsp;Now, a new study from
            the Max Planck Institute finds that three different types of meditation training are linked to changes in corresponding brain regions. The results, published in Science Advances, have a lot of relevance to schools, businesses and, of course,
            the general public.<br><br>&nbsp;Participants, who were between 20 and 55 years of age, engaged in three different types of training for three months each, totaling a nine-month study period. The first training was dubbed the “Presence” module, and
            was very similar to focused awareness meditation, an ancient practice that's been studied a lot in recent years. In this study, participants learned to focus their attention, bringing it back when it wandered, and to attend to the breath and
            to their internal body sensations.<br><br>&nbsp;The second training was called “Affect,” which sought to enhance empathy and compassion for others—participants learned “loving-kindness” (metta) meditation, and did work with partners, the goal of which
            was to enhance one’s compassion and empathy.<br><br>&nbsp;The last was the "Perspective" module, akin to mindfulness or open-monitoring meditation. Here, the focus was on observing one’s own thoughts non-judgmentally and enhancing understanding of
            the perspectives of others.<br><br>&nbsp;The researchers wagered that training in each of these methods would lead to volume increases in corresponding brain areas. And this was largely what they found, as they scanned the participants’ brains at
            the end of each module and compared groups against one another. Training in Presence was linked to enhanced thickness in the anterior prefrontal cortex (PFC) and the anterior cingulate cortex (ACC), which are known to be strongly involved
            in attention. Affect training was linked to increased thickness in regions known to be involved in socially driven emotions like empathy; and Perspective training associated with changes in areas involved in understanding the mental states
            of others, and, interestingly, inhibiting the perspective of oneself.<br><br>&nbsp;The results are exciting in that they offer an even more nuanced look at how meditation can change the brain, and in a relatively short amount of time. Lots of research
            has found that experienced meditators have significantly altered brain structure and function, but a growing number of studies has also found that relatively brief meditation training in novices (for instance, the well-known eight-week MBSR
            program) can also shift brain function, improve well-being, and reduce symptoms of depression and anxiety.<br><br><br>&nbsp;And, the authors say, the results may be applicable in a number of settings, for kids and adults alike. “Our findings suggest a
            potential biological basis for how mindfulness and different aspects of social intelligence could be nurtured.<br><br>"&nbsp;They add that this kind of sensitivity is especially important nowadays, as our community becomes more global, and understanding
            of others' experiences more essential.<br><br>&nbsp;“With growing globalization, interconnectedness, and complexity of our societies, ‘soft skills’ have become increasingly important," they say. "Social competences, such as empathy, compassion, and
            taking the perspective of another person, allow for a better understanding of others’ feelings and different beliefs and are crucial for successful cooperation.”<br><br>&nbsp;Meditation, in its different forms, may be a powerful way to boost the types
            of intelligence that matter most.
        </p>
    </div>
    <br><br>
    
        <script src="~/js/jquery.min.js"></script>
        <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
